
<!-- ngIf="member" is a conditional to check that member exists before it tries to display it
     this template page gets generated before the API returns our member -->
<div class="row">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}} " alt="{{member.knownAs}}" 
                class="card-img-top img-thumbnail" tooltip="Photos stored on cloud via Cloudinary service">
            <div class="card-body">
                <div class="mb-2" *ngIf="(presenceService.onlineUsers$ | async)?.includes(member.username)">
                  <i class="fa fa-user-circle text-success"></i> Online now
                </div>
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p>{{member.lastActive | timeago}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created | date : "longDate"}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button (click)="addLike(member)" class="btn btn-primary" tooltip="Like feature implemented using a join table between Users">Like</button>
                    <button (click)="selectTab('Messages')" class="btn btn-secondary" tooltip="Message Hub implemented using SignalR for real-time messaging">Message</button>
                </div>
            </div>

        </div>
    </div>

    <div class="col-8">
        <!-- tabset is an example of an ngx module that has not turned off css encapsulatiuon. they encapsulate their own styles.
        in order to apply our own styings we must add our own class attribute -->
        <!-- #memberTabs is a template reference variable so that we can access this tabset -->
        <tabset class="member-tabset" #memberTabs>
            <!-- use the onTabActivated method we created in our component, selectTab is a method provided from tabset -->
            <tab heading='About {{member.knownAs}}' (selectTab)="onTabActivated($event)">
                <h4>Description</h4>
                <p>{{member.introduction}}</p>
                <h4>Looking for</h4>
                <p>{{member.lookingFor}}</p>
            </tab>
            <tab heading='Favorite Games' (selectTab)="onTabActivated($event)">
                <h4>Favorite Games</h4>
                <p>{{member.interests}}</p>
            </tab>
            <tab heading='Photos' (selectTab)="onTabActivated($event)" tooltip="Photos stored on cloud via Cloudinary service">
                <h4>Photos</h4>
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" 
                    style="display: inline-block; margin-bottom: 20px; "></ngx-gallery>
            </tab>
            <tab heading='Messages' (selectTab)="onTabActivated($event)">
                <app-member-messages [username]="member.username"></app-member-messages>
            </tab>
        </tabset>
    </div>
</div>