<!-- to change template form to reactive, Instead of using a template variable of :
   <form #registerForm='ngForm' (ngSubmit)="register()" autocomplete="off">
  we will use an input property of [formGroup]. Check registerForm.valid on ngSubmit
  to disable pressing Enter to submit an invalid form  -->
<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr>

  <!-- replace all this html code with text-inputs
  <div class="d-flex">
    <!-input type="text" class="form-control" name="username" [(ngModel)]="model.username" placeholder="Username"->
    <!- class.is-invalid will be applied if the expresion that follows resolves to TRUE->
    <input 
      [class.is-invalid]='registerForm.get("username").errors &&  registerForm.get("username").touched'
      type="text"
      class="form-control"
      formControlName='username'
      placeholder="Username">
    <!- username only has 1 validator so the feedback is simple->
    <div class="invalid-feedback">Please enter a username</div>
  </div>

  <div class="d-flex">
    <!-input type="password" class="form-control" name="password" [(ngModel)]="model.password" placeholder="Password"->
    <input 
      [class.is-invalid]='registerForm.get("password").errors &&  registerForm.get("password").touched'
      type="password" 
      class="form-control" 
      formControlName="password" 
      placeholder="Password">
    <!- Use ngIf to handle mutliple validation types on this field ->
    <div *ngIf="registerForm.get('password').hasError('required')" class="invalid-feedback">Please enter a password</div>
    <div *ngIf="registerForm.get('password').hasError('minlength')" class="invalid-feedback">The password must be at least 4 characters</div>
    <div *ngIf="registerForm.get('password').hasError('maxlength')" class="invalid-feedback">The password must be at most 8 characters</div>
  </div>

  <div class="d-flex">
    <input 
      [class.is-invalid]='registerForm.get("confirmPassword").errors &&  registerForm.get("confirmPassword").touched'
      type="password" 
      class="form-control" 
      formControlName="confirmPassword" 
      placeholder="Confirm Password">
    <div *ngIf="registerForm.get('confirmPassword').hasError('required')" class="invalid-feedback">Please confirm password</div>
    <div *ngIf="registerForm.get('confirmPassword').hasError('isMatching')" class="invalid-feedback">The passwords must match</div>
  </div> -->

  <!-- this code below replaces all the code above and uses a resuable form input -->
  <!-- the form fields correspond with those defined in register.component.ts -->
  <div class="mb-3">
    <label class="control-label" style="margin-right: 10px;">I am a: </label>
    <label class="form-check-label">
      <input class="form-check-input ms-3" type="radio" value="female" formControlName="gender"> Female
    </label>
    <label class="form-check-label">
      <input type="radio" value="male" formControlName="gender" class="form-check-input ms-3"> Male
    </label>
    <label class="form-check-label">
      <input type="radio" value="nonbinary" formControlName="gender" class="form-check-input ms-3"> Non Binary
    </label>
  </div>
  <app-text-input [formControl]="$any(registerForm.controls['username'])" [label]="'Username'" ></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['knownAs'])" [label]="'Known As'" ></app-text-input>
  <app-date-picker [formControl]="$any(registerForm.controls['dateOfBirth'])" [label]="'Date Of Birth'" [maxDate]="maxDate"></app-date-picker>
  <app-text-input [formControl]="$any(registerForm.controls['city'])" [label]="'City'" ></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['country'])" [label]="'Country'" ></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'Password'" [type]="'password'" ></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'Confirm Password'" [type]="'password'" ></app-text-input>

  <div class="row" *ngIf="validationErrors.length > 0">
    <ul class="text-danger">
        <li *ngFor="let error of validationErrors">
            {{error}}
        </li>
    </ul>
  </div>

  <div class="text-center">
      <!-- [disabled]='!registerForm.valid' disabled the submit button until valid --> 
      <button [disabled]='!registerForm.valid' class="btn btn-success me-2" type="submit">Register</button>
      <button class="btn btn-default me-2" (click)="cancel()" type="button">Cancel</button>
  </div>
</form>

<!-- debug info displayed to browser
<p>Form value: {{registerForm.value | json}}</p>
<p>Form status: {{registerForm.status | json}}</p>
-->