<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <div *ngIf="!onHomePage()">
            <img src="{{'./assets/gamersonly36.png'}}" alt="GamersOnly Logo">
        </div>
        <a class="navbar-brand ms-2" routerLink='/' routerLinkActive='active'>Gamers Only</a>
        <ul class="navbar-nav me-auto">
            <ng-container *ngIf="accountService.currentUser$ | async">
                <li class="nav-item">
                    <a class="nav-link" routerLink='/members'
                      [routerLinkActiveOptions]="{exact: true}" 
                      routerLinkActive='active'>Matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/lists' routerLinkActive='active'>Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/messages' routerLinkActive='active'>Messages</a>
                </li>
                <li *appHasRole="['Admin', 'Moderator']" class="nav-item">
                  <a class="nav-link" routerLink='/admin' routerLinkActive='active'>Admin</a>
                </li>
            </ng-container>
            <ng-container *ngIf="!environment.production">
                <li class="nav-item">
                    <a class="nav-link" routerLink='/errors' routerLinkActive='active'>Errors</a>
                </li>
            </ng-container>
        </ul>

        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown> <!-- dropdown Angular directive. use "as user" to make use of the username in the display below -->
            <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
            <a class="dropdown-toggle text-light ms-2 text-decoration-none" dropdownToggle>Welcome {{user.knownAs | titlecase}}</a> <!-- dropdownToggle Angular directive. Angular | to display titlecase-->
            <div class="dropdown-menu mt-2" *dropdownMenu>  <!-- *dropdownToggle is a structural directive -->
                <a routerLink="/member/edit" class="dropdown-item">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>

        <!-- when submit button is clicked, the ngSubmit function will be called -->
        <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="d-flex mt-2 mt-md-0" (ngSubmit)="login()">
            <input
                name="username" 
                [(ngModel)]="model.username"
                class="form-control me-sm-2"
                type="text"
                placeholder="Username">
            <input 
                name="password"
                [(ngModel)]="model.password"
                class="form-control me-sm-2"
                type="password"
                placeholder="Password">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Login</button>
        </form>      
    </div>

  </nav>
